/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    place-items: end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three {


}