/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    place-items: end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three {display:flex; justify-content: space-between;}
.three ul {display:flex; list-style:none;}
.three ul li {padding-left:20px;}

.four {
    display: flex;
}

.five {
    display: flex;
    flex-basis: auto;
}

